  @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&display=swap');

body{
    font-size: 18px;
    background-image: url(images/plants-bg.jpg);
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
}

.intro{
    float:left;
    /* set width to 98% to allow for margin and padding space*/
    width: 98%;
    background-color: rgba(59, 94, 63,.8);
    margin: auto;
    border: 1px solid white;
    padding: 12px;
    color: #EBEBFF;
    font-family: 'Quicksand', sans-serif;
}

a:link{
    color:#FFFED6;
}

a:visited{
    color: #FFFD8A;
 }

a:hover{  
    background-color: black;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}
    
#zen-supporting{
    float:left;
    width: 75%;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
}

.sidebar{
    float:left;
    width: 24%;
    margin:auto;
    border-left: 1px solid white;
    padding: 5px;
    background-color: rgba(45, 72, 48, .7);

}

footer{
    text-align: center;
    word-spacing: 10px;
    margin: 30px;
}
