  @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&display=swap');

/*
.page-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
*/
body{
    font-size: 18px;
    background-color:#3B5E3F;
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 20px;
}

.intro{
    float:left;
   width: 100%;
   background-color: rgb(169, 201, 178);
   background-image: url(images/plants-bg.jpg);
   margin: auto;
   color: #EBEBFF;
   font-family: 'Quicksand', sans-serif;
}

    a:link{
    color:#FFFED6;
}
    a:visited{
    color: #FFFD8A;
 }
    a:hover{
        color:white;
    }


#zen-supporting{
    float:left;
    width: 75%;
}

.sidebar{
    float:left;
    width: 25%;
}
